.search-modal {
    position: relative;
    display: block;
    height: 80svh;
    margin: -10px 0;
    max-width: 600px;
}

.modal-controls {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin: 5px 0;
    width: 100%;

    button {
        background-color: #b0c4de;
        border: 2px solid #000;
        border-radius: 0.5em;
        cursor: pointer;
        font-size: 1rem;
    }
}

.modal-message {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    gap: 20px;
    padding: 10px;
    margin: -10px 0;
    align-items: center;
    max-height: 90%;
    overflow-y: auto;

    li {
        cursor: pointer;
    }

    li:hover {
        text-decoration: underline;
    }
}