.modal-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100svh;
    z-index: 5;
    text-align: center;
    background-color: rgba(1, 15, 19, 0.5);
}

.modal-main {
    max-height: 90svh;
    color: #000;
    background-color: #b0c4de;
    border-radius: 0.5em;
    border: 2px solid #000;
    width: 80%;
    max-width: 600px;
}